html, body {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* VIDEOPROJ */
#videoProj {
    height: 100vh;
    margin: 0 !important;
}

#videoProj .column {
    padding: 0;
}

#videoProj .ui.segment {
    height: 100%;
}

#image-qrcode {
    margin-top: 15vh;
    width: 100%;
    height: 50vh
}

#image-qrcode+div {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    font-size: 3vh;
    font-weight: 900;
}

/* VIDEOPROJ SALON */

#salon {
    height: 100vh;
}

#salon h5 {
    padding: 1rem;
    font-size: xx-large;
}

#salon h2 {
    font-size: 5vh;
}

#salon h2 .users.icon {
    font-size: 10vh;
}

#salon #loader {
    font-size: 2vh;
    width: 100%;
    display: grid;
    justify-items: center;
}

#salon #loader .inline.loader {
    margin-bottom: 1vh;
}

#salon #loader small {
    font-size: 100%;
}

#salon #players-connected {
    overflow: auto !important;
    height: 50vh !important;
    padding: 1rem !important;
}

#salon #players-connected p {
    padding: 2px;
    font-size: xx-large;
    border-bottom: solid 1px silver;
}


/* REPONSES */

#videoProj #replies {
    text-align: center;
    margin-top: 5% !important;
    padding: 5rem !important;
}

#videoProj #replies div {
    font-size: 2vh !important;
    width: 100% !important;
    border: 1px solid #F79F1F;
    border-radius: 50px;
    margin: 3rem 0 3rem 0 !important;
    height: 7vh !important;
    display: flex;
    align-items: center;
    place-content: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* QUESTION */

#videoProj #question {
    margin-top: 15% !important;
}

#videoProj #question div {
    font-size: 5vh !important;
    width: 90% !important;
    text-align: center;
}

#videoProj thead {
    font-size: 2vh;
}

#videoProj #classement {
    font-size: 1.5vh;
    width: 100%;
}

/* QUIZ IMAGE */

#quiz-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* LOGIN */

#login {
    display: flex;
    height: -webkit-fill-available;
    align-items: center;
}

#login .icon.input {
    height: fit-content;
    margin: 0 auto;
}

#login #error {
    position: absolute;
    width: 100%;
    bottom: 33.33%;
    color: red;
    text-align: center;
}

/* SALON */

#salon h5 {
    padding: 1rem;
}

#salon #loader {
    width: 100%;
    display: grid;
    justify-items: center;
}

#salon #players-connected {
    overflow: auto !important;
    height: 500px !important;
    padding: 1rem !important;
}

#salon #players-connected p {
    padding: 2px;
    font-size: 10px;
    border-bottom: solid 1px silver;
}

/* NAVBAR */

#navbar .container {
    text-align: right;
}

#navbar .container a {
    color: white;
    cursor: pointer;
}

/* AFFICHAGE QUIZ */

table {
    width: 100%;
}

#quiz td {
    width: 25%;
    padding: 0 !important;
    cursor: pointer;
    transition-duration: 500ms;
}

#quiz td div {
    border: none !important;
    text-align: center;
}

#quiz td img {
    width: 100%;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

#quiz td:hover {
    transform: scale(0.97);
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
}

#end_quiz {
    display: none;
    position: absolute;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: -webkit-xxx-large;
}

#container {
    text-align: -webkit-center;
}

/* Progress Bar */

.ui.active.progress{
    padding: 1rem;
    border-radius: 50px !important;
    width: 100% !important;
    margin: 0 auto;
    background-color: white;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
}
.ui.active.progress .bar{
    min-width: 0 !important;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#chrono {
    display: none;
    width: 100%;
}

/* REPONSES */

#replies {
    text-align: center;
    margin-top: 20%;
}

#replies div {
    border: 2px solid #F79F1F;
    background-color: white;
    color: #F79F1F;
    border-radius: 50px;
    margin: 1rem 0 1rem 0 !important;
    height: 5rem;
    display: flex;
    align-items: center;
    place-content: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.user_reply {
    background-color: #F79F1F !important;
    color: white !important;
}
.good_reply{
    border: 2px solid #009432 !important;
    background-color: #009432 !important;
    color: white !important;
}
.bad_reply{
    border: 2px solid #EA2027 !important;
    background-color: #EA2027 !important;
    color: white !important;
}

#valider {
    width: 100%;
    margin-top: 20%;
}

#valider button {
    width: 100%;
    padding: 1.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* QUESTION */

#question {
    margin-top: 25%;
}

#question .column {
    width: 90%;
    text-align: center;
}

/* BUTTON */

/* MOBILES */

@media only screen and (max-device-width: 812px) {
    table td {
        display: contents !important;
    }
}